<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <script src="fontawesome/js/all.js"></script>
    <title>Info Cuaca</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">

    <link rel="stylesheet" href="css/templatemo-breezed.css">

    <link rel="stylesheet" href="css/owl-carousel.css">

    <link rel="stylesheet" href="css/lightbox.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <center><a href="" class="logo">
                            Aplikasi Weather
                        </a></center>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">HOME</a></li>
                            <li class="scroll-to-section"><a href="#about">ABOUT</a></li>
                            <li class="scroll-to-section"><a href="#faq">FAQS</a></li>
                            <li class="scroll-to-section"><a href="/berita">NEWS</a></li> 
                           
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="img/images/slide-02.jpg" alt="">
                <div class="text-content">
                  <h3>Welcome Aplikasi Weather</h3>
                  <h3>Gunakan website ini untuk menemukan informasi cuaca!</h3>
                  <br>
                <form>
                    <input placeholder="Masukan lokasi">
                    <button>Cari Lokasi</button>
                </form>
                <br>
                <p id="pesan-1"></p>
                <p id="pesan-2"></p>
            </div>
                </div>
            </div>
          </div>
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

<!-- ***** about Area Starts ***** -->
    <section class="section" id="about">
      <div class="container">
        <div class="row">
            <div class="col-lg-11">
                <div class="section-heading">
                    <h1>About Me</h1>
                </div>
            </div>
        </div>
            <div class="col-lg-11">
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all ">
                          <div class="item">
                            <br>
                                <p><strong>Nama :</strong>                  Riva Febtriani</p>
                                <p><strong>NIM :</strong>                   21343070</p>
                                <p><strong> Tempat, Tanggal Lahir :</strong> Padang, 25 Februari 2003</p>
                                <p><strong>Jenis Kelamin :</strong>         Perempuan</p>
                                <p><strong>Agama :</strong>               Islam</p>
                                <p><strong>Alamat :</strong>                Lubuk Gading Permai VI</p>
                                <p><strong>Hobi :</strong>                 Travelling</p>
                                <p><strong>Email :</strong>                rivafebtriani03@gmail.com</p>
                                <p><strong>Telepon :</strong>               085364024855</p>
                            <br>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all">
                          <div class="item">
                            <a href="img/images/about-item-01.JPG" data-lightbox="image-1" data-title="About Me"><img src="img/images/about-item-01.JPG" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all">
                          <div class="item">
                            <a href="img/images/about-item-02.JPG" data-lightbox="image-1" data-title="About Me"><img src="img/images/about-item-02.JPG" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all">
                          <div class="item">
                            <a href="img/images/about-item-03.JPG" data-lightbox="image-1" data-title="About Me"><img src="img/images/about-item-03.JPG" alt=""></a>
                          </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 all">
                          <div class="item">
                            <a href="img/images/about-item-04.JPG" data-lightbox="image-1" data-title="About Me"><img src="img/images/about-item-04.JPG" alt=""></a>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </section>
    <!-- ***** Projects Area Ends ***** -->

    <!-- ***** Faq Area Starts ***** -->
    <div class="section" id="faq"> 
		<h1>Frequently Asked Questions</h1> 
		<div class="question-container"> 
			<div class="question">Q: Apa itu Weather?</div> 
			<div class="answer">A:  Weather atau Cuaca mengacu pada kondisi atmosfer pada suatu lokasi pada waktu tertentu, termasuk faktor seperti suhu, kelembaban udara, angin, tekanan udara, awan, dan presipitasi (hujan, salju, dll.). Ini mencakup berbagai elemen yang mencirikan kondisi udara pada suatu saat dan tempat tertentu.</div> 
      <div class="question">Q: Apa perbedaan antara cuaca dan iklim?</div> 
			<div class="answer">A: Cuaca dan iklim berkaitan tetapi berbeda. Cuaca merujuk pada kondisi atmosfer jangka pendek, sedangkan iklim merujuk pada pola cuaca jangka panjang di suatu daerah tertentu.</div>
			<div class="question">Q: Bagaimana cuaca mempengaruhi kehidupan manusia?</div> 
			<div class="answer">A: Cuaca dapat berdampak signifikan pada kehidupan manusia, mempengaruhi aktivitas seperti pertanian, transportasi, dan rekreasi luar ruangan. Kejadian cuaca ekstrem, seperti badai dan tornado, juga dapat membahayakan keselamatan manusia.</div> 
			<div class="question">Q: Mengapa ramalan cuaca terkadang tidak akurat?</div> 
			<div class="answer">A: Tekanan udara, suhu, pegunungan, arus laut, dan banyak faktor lainnya digabungkan untuk menghasilkan sejumlah besar variabel yang saling berinteraksi, yang kesemuanya dapat mengubah cuaca pada tingkat yang lebih besar atau lebih kecil. Namun, pemahaman sains yang lebih baik, ditambah penggunaan model komputer yang canggih, terus meningkatkan kemampuan kita untuk membuat prediksi yang lebih akurat dengan waktu tunggu yang lebih lama.</div> 
		</div> 
	</div> 
	<script> 
		const questions = document.querySelectorAll(".question"); 
 
		questions.forEach((question) => { 
			question.addEventListener("click", () => { 
				question.classList.toggle("active"); 
				const answer = question.nextElementSibling; 
				if (answer.style.display === "block") { 
					answer.style.display = "none"; 
				} else { 
					answer.style.display = "block"; 
				} 
			}); 
		}); 
	</script> 


    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy;  
                        
                        - Design: <a rel="nofollow noopener" href="https://templatemo.com">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    

    <!-- jQuery -->
    <script src="js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="js/owl-carousel.js"></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imgfix.min.js"></script> 
    <script src="js/slick.js"></script> 
    <script src="js/lightbox.js"></script> 
    <script src="js/isotope.js"></script> 
    
    <!-- Global Init -->
    <script src="js/custom.js"></script>

    <script src="/js/app.js"></script>
    
    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);
                
            });
        });

    </script>

  </body>
</html>