<!DOCTYPE html>
<html>
<head>
    <title>Tentang</title>
    <link rel="icon" href="/img/weather-icon.png">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/rivafeb.JPG">
        <h1>Biodata</h1>
        <div class="info">
            <h2>Data Pribadi</h2>
            <p>Nama: Riva Febtriani</p>
            <p>Tempat, Tanggal Lahir: Padang, 25 Februari 2003</p>
            <p>Alamat: Lubuk Gading Permai VI</p>
            <p>Email: rivafebtriani03@gmail.com</p>
            <p>Telepon: 085364024855</p>
        </div>
        <div class="info">
            <h2>Pendidikan</h2>
            <p>S1 Teknik Informatika, Universitas Negeri Padang</p>
            <p>SMA Negeri 8 Padang</p>
        </div>
        <div class="info">
            <h2>Pengalaman Kerja</h2>
            <p>Programmer Junior, Perusahaan ABC, 2014-2016</p>
            <p>Programmer Senior, Perusahaan XYZ, 2016-2020</p>
        </div>
        <div class="info">
            <h2>Kemampuan</h2>
            <p>HTML, CSS, JavaScript</p>
            <p>Python, Java</p>
        </div>
    </div>
    <!-- Footer (Tambahkan konten footer di sini) -->
</body>
</html>
